<div class="container">
    <div class="row m-3">
        <div class="col-md">
            <div class="input-group mb-2">
                <label class="input-group-text" for="filter1">Filter1</label>
                <select class="form-select" id="filter1">
                    <option selected>Filter 1</option>
                </select>
            </div>
        </div>
        <div class="col-md">
            <div class="input-group mb-2">
                <label class="input-group-text" for="filter2">Filter2</label>
                <select class="form-select" id="filter2">
                    <option selected>Filter 2</option>
                </select>
            </div>
        </div>
        <div class="col-md">
            <div class="input-group mb-2">
                <label class="input-group-text" for="filter3">Filter3</label>
                <select class="form-select" id="filter3">
                    <option selected>Filter 3</option>
                </select>
            </div>
        </div>
    </div>
</div>